@import (reference) "../vendor/bootstrap/less/variables";
@import "theme";

section#sponsorship .list-group {
  text-align: left;

  .list-group-item-heading {
    .text-primary();
    span.badge { margin-top: -4px }
  }

  .list-group-item-text { color: @text-color }
}

section#team {
  img.img-team {
    border: 8px solid white;
    
    @img-team-max-width: 300px;
    @img-team-breakpoint: @img-team-max-width + @grid-gutter-width;
    @media(min-width: (@img-team-breakpoint)) { max-width: @img-team-max-width }
  }
}
